.weather-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid green;

    .main-forcast {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        border: 2px solid purple;

        .topbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .search{
                width: 50%;
                input{
                    border: none;
                }
            }
            .date{
                width: 50%;
            }
        }
        .main-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }
    }
}

.side-forcast {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    border: 2px solid red;
}